<h1>Book an Appointment at <%= @barbershop.name %></h1>

<%= form_with model: @booking, url: bookings_path(barbershop_id: @barbershop.id) do |form| %>
  <div>
    <%= form.label :service_id, "Choose a Service" %><br>
    <%= form.collection_select :service_id, @barbershop.services, :id, :name %>
  </div>

  <div>
    <%= form.label :start_time, "Select Date & Time" %><br>
    <%= form.datetime_select :start_time %>
  </div>

  <%= form.submit "Book Appointment" %>
<% end %>
