<h1>Browse Barbershops</h1>

<% if @barbershops.empty? %>
  <p>No barbershops available right now.</p>
<% else %>
  <% @barbershops.each do |barbershop| %>
    <div class="shop-card">
      <% if barbershop.photo.present? %>
        <%= image_tag barbershop.photo, alt: barbershop.name, class: "shop-image" %>
      <% else %>
        <p>No photo available</p>
      <% end %>
      <h3><%= barbershop.name %></h3>
      <p><%= barbershop.address %></p>
      <p><%= barbershop.city %></p>
      <% if barbershop.instagram.present? %>
        <p>Instagram: <%= link_to barbershop.instagram, "https://instagram.com/#{barbershop.instagram}", target: "_blank" %></p>
      <% end %>
      <%= link_to "View Details", barbershop_path(barbershop), class: "details-link" %>
    </div>
  <% end %>
<% end %>
