<h1><%= @barbershop.name %></h1>
<p><%= @barbershop.address %></p>
<p><%= @barbershop.city %></p>
<p><%= @barbershop.instagram %></p>

<%= link_to 'Book an Appointment', new_barbershop_booking_path(barbershop_id: @barbershop.id) %>
