<!DOCTYPE html>
<html>
  <head>
    <title>BarberBooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- application.html.erb -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
