<!DOCTYPE html>
<html>
  <head>
    <title>BarberBooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- application.html.erb -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
